.wrapper {
    padding-top: 50px;
    background: #ECEFF1;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/047ca3dd-33d4-4aae-bcf6-f7210e19fab9/danifqc-221bbdbb-2cd4-432c-a1e1-371059822ac5.jpg/v1/fill/w_852,h_480,q_75,strp/south_park_background_1__variant_1__by_flip_reaper_z_danifqc-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD00ODAiLCJwYXRoIjoiXC9mXC8wNDdjYTNkZC0zM2Q0LTRhYWUtYmNmNi1mNzIxMGUxOWZhYjlcL2RhbmlmcWMtMjIxYmJkYmItMmNkNC00MzJjLWExZTEtMzcxMDU5ODIyYWM1LmpwZyIsIndpZHRoIjoiPD04NTIifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ._pn69DJhNyRbl3uUyI70aotc3WEgent-iiF7FU2PDT8");
    background-size: 100%;
  }